@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #fff;
}

:root {
    --main-dark-green: rgb(82,180,120);
    --button-light-green: rgb(152,216,177);
    --button-dark-green: rgb(105, 188, 138);
}

body {
    font-size: 64px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.calculator {
    width: 80vh;
    height: 95vh;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-dark-green);
    border-radius: 10px;
}

.display {
    height: 30%;
    width: 85%;
    margin-bottom: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px 10px;
}

.display-error {
    font-size: 32px;
}

.button-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    padding: 0 5% 5%;
    gap: .5rem;
}

button {
    flex:1 1 15%;
    border-radius: 12px;
    margin: 0 .5rem;
    background-color: var(--button-light-green);
    border: none;
    font-size: 2.2rem;
    padding: 1rem;
    box-shadow: 4px 4px;
    border: 3px solid var(--main-dark-green)
}

button:active {
    box-shadow: 2px 2px;
    transform: translateY(4px);
    transform: translateX(4px);
}

button:hover {background-color:rgba(152,216,177, .7)}

.modifier,
.operator {
    background-color: var(--button-dark-green);
}

.modifier:hover,
.operator:hover {
    background-color: rgba(105, 188, 138, .3);
}

[data-value='='] {
    flex: 2 2 36%;
    background-color: #fff;
    color: #333;
}

[data-value='=']:hover {
    background-color: rgb(240,240,240);
}